decorator>=4.1.0
matplotlib==3.0.2
imageio==2.5.0
numpy==1.16.1
networkx==2.2
pandas==0.24.2
plotly==3.6.1
pypng==0.0.18
pyqt5==5.11.3
requests_futures==0.9.9
requests==2.21.0
Shapely==1.6.4.post2
seaborn==0.9.0
setuptools==40.8.0
scipy==1.2.1
six==1.11.0
tqdm==4.31.0
vispy==0.5.3

# Below are optional dependencies
# py2cytoscape==0.7.0
# pyoctree==0.2.10
# ete3==3.0.0b35
# trimesh==2.35.2
# rpy2==2.9.4
# fuzzywuzzy[speedup]==0.17.0
