name: Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.python-version }}-${{ matrix.igraph }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.8'
          - '3.9'
          - '3.10'
        igraph: ["igraph", "no-igraph"]
    steps:
    #   # This cancels any such job that is still runnning
    # - name: Cancel Previous Runs
    #   uses: styfle/cancel-workflow-action@0.6.0
    #   with:
    #     access_token: ${{ github.token }}
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Linux libraries
      run: |
        sudo apt-get install -y libdbus-1-3 libxkbcommon-x11-0 libxcb-icccm4 \
          libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 \
          libxcb-xinerama0 libxcb-xinput0 libxcb-xfixes0 graphviz graphviz-dev
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install pathos imageio
        pip install pytest coveralls pytest-cov
    - name: Install pymaid
      run: pip install -e .
    - run: pip install python-igraph
      if: ${{ matrix.igraph == 'igraph' }}
    - name: Test
      run: |
        pytest --cov=./ --verbose
        # coveralls
